.container-info {
  width: 80vw;

  background-color: #696969c4;

  border-radius: 40px;

  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;

  box-shadow: 0px 0px 10px 0.1px black;

  margin-bottom: 3rem;
}

/* ERROR MODAL */
.alert-error {
  margin: 1rem 0;

  transition: 0.5s;
}

.alert-error #alert {
  background-color: #ff1212f3;
  justify-content: left;
}

/* FORM INPUT */
.form {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  background-color: white;
  border-radius: 20px;

  width: 80vw;
  height: 3rem;
}

.form input {
  width: 100%;
  padding: 1rem;
  background: transparent;

  border: none;

  font-family: "Pokedark", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.25rem;
  color: rgb(57, 55, 55);

  user-select: none;
}

.form input:focus {
  border: none;
  box-shadow: 0 0 0 0;
  outline: 0;
}

.form button {
  width: 20vw;

  background: transparent;

  border: none;
  border-radius: 40px;

  height: 100%;
}

.form button span svg {
  fill: black;
}

/* POKE IMG AND BUTTONS */
.poke-img {
  width: 100%;

  border-radius: 35px;
  border-bottom: 2px solid white;

  display: flex;
  align-items: center;
  justify-content: center;

  background: radial-gradient(#ffffff4a, transparent);
}

.poke-img img {
  width: 12rem;
}

.poke-img button.prev-button,
.poke-img button.next-button {
  background: transparent;
  border: none;
}

.poke-img button svg {
  fill: white;
  stroke: white;
}

/* NAME AND ID */
.name-id {
  display: flex;
  justify-content: space-around;

  background-color: #000000d5;

  width: calc(50% + 1rem);

  border-radius: 10rem;

  border: none;

  margin: 1rem 0;
}

.name-id p {
  font-family: "Pokedark", sans-serif;
  letter-spacing: 0.1rem;

  align-self: center;
}

.name-id p#id-pokemon {
  font-size: 12px;
}

/* TYPES */
.types {
  width: 12rem;

  display: flex;

  justify-content: space-between;

  margin-bottom: 1rem;
}

.types p {
  font-family: "Pokedark", sans-serif;
  letter-spacing: 0.1rem;
  color: #d6d6d6;

  width: 5rem;
}

/* STRUCTURE */
.structure {
  display: flex;

  flex-direction: row;

  justify-content: space-around;

  width: 10rem;

  margin-bottom: 1rem;
}

.structure-height p#number,
.structure-weight p#number {
  font-family: "Pokedark", sans-serif;
  letter-spacing: 0.1rem;
}

.structure-height p#description,
.structure-weight p#description {
  font-size: 12px;
}

/* STATUS BAR */
.stats {
  margin-bottom: 1rem;
}

.stats p#title-stats {
  font-family: "Pokedark", sans-serif;
  letter-spacing: 0.1rem;

  margin-bottom: 1rem;
}

.stats ul {
  display: flex;

  flex-direction: column;

  justify-content: space-around;

  width: 15rem;
}

.stats ul li {
  display: flex;

  justify-content: space-around;

  margin-bottom: 0.75rem;
}

.bar-stats {
  display: flex;

  width: 10rem;

  align-items: stretch;

  background-color: #505050;

  border: none;
  border-radius: 50px;
}

.bar-stats div {
  width: 100%;

  opacity: 0.95;

  border-radius: 50px;

  color: transparent;
}

.bar-stats div.hp-bar {
  background-color: #0beb0b;
}

.bar-stats div.atk-bar {
  background-color: red;
}

.bar-stats div.def-bar {
  background-color: blue;
}

.bar-stats div.sa-bar {
  background-color: #d5ee16;
}

.bar-stats div.sd-bar {
  background-color: #2377c0;
}

.bar-stats div.speed-bar {
  background-color: #ada3a3;
}

.bar-stats p {
  position: absolute;
  padding: 0 2rem;
}

@media (min-width: 700px) {
  .container-info {
    width: 30vw;
  }

  /* FORM INPUT */
  .form {
    width: 30vw;
  }

  /* ERROR MODAL */
  .alert-error #alert {
    width: 30vw;
  }

  /* STATS */
  .bar-stats {
    width: 15rem;
  }

  .stats ul {
    width: 20rem;
  }
}

@media (min-width: 600px) {
  .container-info {
    width: 50vw;
  }

  /* FORM INPUT */
  .form {
    width: 50vw;
  }

  /* ERROR MODAL */
  .alert-error #alert {
    width: 50vw;
  }
}