* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: aliceblue;
}

body {
  background: linear-gradient(115deg, rgba(0,0,0,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

ul {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  justify-content: center;
  align-items: center;

  text-align: -webkit-center;

  margin-top: 5rem;
}

h1 {
  font-family: "Pokedark", sans-serif;
  font-size: 35px;

  color: yellow;
  -webkit-text-stroke: .5px blue;
  margin-top: -3rem;
}

h2 {
  font-family: "Pokemon", sans-serif;
}

p {
  font-family: "Pokemon", sans-serif;
  font-size: 16px;

  color: white;
}

p::first-letter {
  text-transform: uppercase;
}

@font-face {
  font-family: "Pokemon";
  src: url("./fonts/Pokemon Hollow.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pokedark";
  src: url("./fonts/Pokemon Solid.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}