* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: aliceblue;
}

body {
  background: linear-gradient(
      115deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    )
    no-repeat;

  height: 100vh;

  overflow-y: hidden;

  user-select: none;
}

ul {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  justify-content: center;
  align-items: center;

  text-align: -webkit-center;

  margin: 0 1rem;
}

h1 {
  font-family: "Pokedark", sans-serif;
  font-size: 35px;

  letter-spacing: 0.25rem;

  color: yellow;
  -webkit-text-stroke: 0.75px blue;
  margin: 2.5rem 0 1rem 0;
}

h2 {
  font-family: "Pokedark", sans-serif;
  font-size: 18px;

  color: aliceblue;
  -webkit-text-stroke: 0.75px black;
  letter-spacing: 0.2rem;

  margin-bottom: 1rem;
}

p {
  font-family: "Pokemon", sans-serif;
  font-size: 16px;

  color: white;
}

p::first-letter {
  text-transform: uppercase;
}

button {
  transition: 0.3s;
  border: none;
}

button:hover {
  cursor: pointer;

  opacity: 0.5;
  transition: 0.3s;
}

button:target,
button::before {
  border: none;
}

@font-face {
  font-family: "Pokemon";
  src: url("./fonts/Pokemon Hollow.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pokedark";
  src: url("./fonts/Pokemon Solid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
